{% block extra_head %} {% endblock %} {% block body %}
<div style="width: 100vw; height: 48px; display: flex; border-bottom: 1px solid #bbb;">
    <p style="margin-bottom: auto; margin-top: auto">Diworkity</p>
</div>
{% block content %} {% endblock %} {% endblock %} {% block extra_body %} {% endblock %}